
@{
    ViewData["Title"] = "MoviesAndTheirProds_UsingModels";
}

<h1>MoviesAndTheirProds_UsingModels</h1>


<table class="table">
    <thead>
        <tr>
            <th>Movie Title</th>
            <th>Genre</th>
            <th>Producer Name</th>
            <th>Nationality</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.mTitle</td>
                <td>@item.mGenre</td>
                <td>@item.pName</td>
                <td>@item.pNat</td>
            </tr>
        }
    </tbody>
</table>